.card {
    width: 200px
}

.card-img-top {
    border-radius: 50%;
}

.image-container {
    margin: 40px 40px 40px 40px;
}

p.age {
    color: grey;
    margin-top: -10px;
}

p.skills {
    margin-top: -10px;
}

.card-body {
    margin-top: -30px;
}

.card-title {
    margin-top: -20px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}